<div class="row justify-content-center" style="padding:20px; margin-top:20px;">
  <div class="col-10 col-sm-4">
      <div class="card border-secondary mb-3" style="max-width: 18rem;">
          <div class="card-header">Store</div>
          <div class="card-body text-secondary">
            <h5 class="card-title">Find new store</h5>
            <p class="card-text">Interface for showing the opening hours of place associated with store and allowing it to update the opening hours.
              </p>
              
                
             
              
          </div>
        </div>
  </div>
  <div class="col-10 col-sm-4">
      <div class="card border-secondary mb-3" style="max-width: 18rem;">
          <div class="card-header">Plot</div>
          <div class="card-body text-secondary">
            <h5 class="card-title">Find new plot</h5>
            <p class="card-text">Interface for showing the count-vs-date plot for visits to place in a given time period.
              </p>
             
                  
                
              
              
          </div>
        </div>
  </div>
</div>
